<h1>Login</h1>

<% unless @user %>
  <h3>password and username do not match</h3>
<% end %>

<form id='login-form' action='/login' method='post'>
  <input name="user[username]" type='text' placeholder="Username" value="<%=@user.try(:username)%>">
  <input name="user[password]" type='password' placeholder="Password">
  <input type="submit" value="login">
</form>
