<div id="home">
  <div class='container'>
    <h2 class='header-text'>Random Recipes</h2>
  </div>
  <div class='recipe-cards-container container-fluid'>
    <% @recipes.each_with_index do |recipe, i| %>
      <% if i%4 == 0 %>
        <div class="clearfix visible-md-block visible-lg-block"></div>
      <% end %>
      <%= render partial: 'partials/recipe_card', locals: {recipe: recipe} %>
    <% end %>
  </div>
  <div class='random'></div>
</div>
