<nav class='nav-bar'>

  <% if current_user %>
    <a href='/users/<%= current_user_id %>'><%= current_user.username %></a>
    <a href='/logout'>Logout</a>
    <a class="right" href="/recipes/random">find new recipes</a>
  <% else %>
    <a href='/login'>Login</a>
    <a href='/users/new'>Register</a>
  <% end %>
  <a href='/'>Home</a>
  <a href='/'><div class='header'><p class="top-line">whatsie</p><p class="bottom-line">what should i eat?</p></div></a>
</nav>
