<nav class='navbar'>

  <% if session_user %>
    <a href='/users/<%= session_user_id %>'><%= session_user.username %></a>
    <a href='/logout'>Logout</a>
    <a class="right" href="/recipes/random">find new recipes</a>
  <% else %>
    <a href='/login'>Login</a>
    <a href='/users/new'>Register</a>
  <% end %>
  <a href='/'>Home</a>
  <span class='header'><p class="top-line">whatsie</p><p class="bottom-line">what should i eat?</p></span>
</nav>
