<nav class='nav-bar'>
  <div class='links'>
    <div class='left'>
      <% if current_user %>
        <a href='/users/<%= current_user_id %>'><%= current_user.username %></a>
        <a href='/logout'>Logout</a>
      <% else %>
        <a href='/login'>Login</a>
        <a href='/users/new'>Register</a>
      <% end %>
      <a href='/'>Home</a>
    </div>
    <% if current_user %>
      <a class="right" href="/recipes/random">find new recipes</a>
    <% end %>
  </div>
  <div class='header'>
    <a href='/' class='header-link'>
      <p class="top-line">whatsie</p>
      <p class="bottom-line">what should i eat?</p>
    </a>
  </div>
</nav>
