<h1>Register</h1>

<%= erb :'/partials/_errors', locals: {object: @user} %>

<form action='/users' method='post'>
  <input type='text' name='user[email]' placeholder='Email' value="<%= @user.try(:email) %>">
  <input type='text' name='user[username]' placeholder='Username' value="<%= @user.try(:username) %>">
  <input type='password' name='user[password]' placeholder='Password'>
  <input type='submit' value='Register'>
</form>
