<div class="profile"></div>

<% if current_user && current_user_id.to_s == @profile_id %>
  <h1>Welcome, <%= @user.username %></h1>
  <h3> Your Recipes! </h3>
<% else %>
  <h1>Welcome to <%= @user.username %>'s profile</h1>
  <h3> <%= @user.username %>'s Saved Recipes! </h3>
<% end %>
<% @user.recipes.each do |recipe| %>
  <%= render partial: 'partials/recipe_card', locals: {recipe: recipe} %>
<% end %>

