.top-line {
  font-size: 50px;
  margin: 0;
}

@media (max-width: 768px){
  .top-line {
    font-size: 48px;
  }
}

.bottom-line {
  margin: 0;
  margin-top: -10px;
  font-size: 15px;
}

body, html, main {
  font-family: 'Open Sans', sans-serif;
  background: #fcf88a;
  height: 100%;
  min-width: 320px;
}

.create-account-header {
  text-align: center;
}

.btn-space {
  margin-top: 10px;
}

.errors {
  color: #ff3d3d;
}

.header-text {
  text-align: center;
  margin-top: 0px;
}

.content {
  margin-top: 120px;
}

@media (max-width: 768px){
  .content {
    margin-top: 90px;
  }
}

.no-margin {
  margin: 0;
}

.no-margin-top{
  margin-top: 0;
}

