<footer class="footer">
  <div class="footer-section">
    <nav>
      <ul id="footer-links">
        <li><a href="https://github.com/ianpetergreenburg/whatsie">Whatsie on Github</a></li>
      </ul>
    </nav>
  </div>
</footer>
